// Variables de colores
$title-color : #0070C0;
$normal-font-color : #595959;

//Variables de tamaño de letra
$font-size-title : 40px;

$font-size-subtitle: 30px;

$font-size-normal: 15px;

$font-size-third: 25px;